.video-container {
  position: relative;
  width: 100%;
  height: auto; /* Adjust as needed */
  display: flex; /* Flex container */
  justify-content: center; /* Center content */
  align-items: center; /* Center vertically */
}

.video-wrapper {
  position: relative;
  padding-left: 200px; /* Adjust as needed */
  width: 80%; /* Adjust as needed */
}

video {
  object-fit: cover;
  width: 70%;
  height: 100%;
}

.back-btn {
  position: absolute;
  top: 50%;
  /* Calculate the left position based on video width and padding */
  left: calc(10% - 50px); /* Half of the remaining space minus half the button width */
  transform: translateY(-50%);
  z-index: 101;
  padding: 10px;
}


  .hero-container {
    background: url('/src/assets/img/HORTI.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    /* object-fit: contain; */
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
    height: 50px;
  }
  
  .hero-btns .btn .MuiSvgIcon-root {
    margin-left: 6px;
    width: 18px;
    height: 18px;
    padding: 0;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }